{% extends 'tfems/base.html' %}
{% block content %}
    {% if nlin %}
        <p class="text-danger">You are logged Out</p>
        <a href="#" class="btn btn-danger btn-md">Login Again</a>
    {% else %}
        <div class="container">

        <div class="col-sm-12   ">

            <h1 class="text-danger text-center">Hello {{ uname }}</h1>
            <center>
            <a class="text-center btn btn-info btn-lg" href="{% url 'addemp' %}">+Employee</a>
            </center>
            {% if employee %}

            <div class="">
            <table class="table table-condensed table-hover table-bordered">
            <th class="danger">Name</th>
            <th class="danger">Designation</th>
            <th class="danger">Email</th>
            <th class="danger">Phone Number</th>
            <th class="danger">Working Hours</th>
            <th class="danger">Joining Date</th>
            <th class="danger">Address</th>
            <th class="danger">Edit</th>
            <th class="danger">Delete</th>
                {% for emp in employee %}
                <tr class="success">
                <td>{{ emp.emp_name }}</td>
                    <td>{{ emp.emp_designation }}</td>
                <td>{{ emp.emp_email }}</td>
                <td>{{ emp.emp_phone }}</td>
                <td>{{ emp.emp_working_hours }}</td>
                <td>{{ emp.emp_joining_date }}</td>
                <td>{{ emp.emp_address }}</td>
                <td><a class="btn btn-success btn-md" href="{% url 'editemp' emp.emp_name uname%}">Edit</a></td>
                  <td><a class="btn btn-success btn-md" href="{% url 'delemp' emp.emp_name uname%}">Delete</a></td>


                </tr>


                {% endfor %}




        </table>
            </div>
                {% else %}
                <h3 class="text-center text-danger">No employees.Add Some Employees</h3>
                {% endif %}



        </div>

        </div>

    {% endif %}

{% endblock %}